<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/defaultTemplate}">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	
	<body>
		<div layout:fragment="content">
			<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
				<img src="https://www.gcu.edu/themes/custom/gcu/media/images/header/gcu.svg"/><br/><br/>
				<div class="card" style="width: 25rem;">
					<div class="shadow p-3 bg-dark rounded text-white">
						<h2>Contact Collector</h2><br/>
						<h5>We couldn't find the page you were looking for :(</h5>
						<button class="btn btn-primary" onclick="document.location='/'">LEAVE</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>